h1{
    size: 65px;
    color: orange;
    font-family: sans-serif;
}
.list-style{
    background-color: bisque;
}
p{
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;
}
.li-amarelo {
    background-color: yellow;
}
.li-vermelho {
    background-color: red;
}
.li-marrom {
    background-color: brown;
}